<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Chat Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<!--To use variables from model attribute inside javascript files, use this approach below-->

<body>
<noscript>
	<h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="chatgroup-page" class="container">
	<h2>Chat Page</h2>
	<form id="chatGroupFindForm" name="chatGroupFindForm" action="#" th:action="@{/findChatGroup}" method="post">

		<div th:if="${errorMessage}">
			<i th:text="${errorMessage}"></i>
		</div>

		<label for="chatgroup">Enter secret group code:</label>
		<input type="text" id="chatgroup" name="chatgroup">
		<button type="submit">Find</button>
	</form>
</div>


</body>

</html>