<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="container">
		<h2>Login Page</h2>
		<form action="#" th:action="@{/authenticateTheUser}" method="post">

			<div th:if="${param.error}">
				<i>Sorry! You entered invalid username/password.</i>
			</div>

			<div class="input-group">
				<label for="user_email">Email:</label>
				<input type="text" id="user_email" name="user_email">
			</div>
			
			<!-- The value of the for attribute should match the id of the input field. -->
			
			<div class="input-group">
				<label for="user_password">Password:</label>
				<input type="password" id="user_password" name="user_password">
			</div>
			<button type="submit">Submit</button>
		</form>
		<p>Don't have an account? <a href="/showSignUpForm">Sign up</a></p>
	</div>
</body>

</html>