<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/chat.css"  media="screen" />

<!--    To get model attributes from controller to be used in javascript file-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var chatgroup = /*[[${chatgroup}]]*/ 'default';
        var receiver = /*[[${receiver}]]*/ 'default';
        /*]]>*/
    </script>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="loader" class="loader"></div>

<div class="top-right-buttons" >
    <div id="top-right-buttons" class="hidden">
        <button id="homeButton" type="button">Home</button>
        <button id="logoutButton" type="button">Logout</button>
    </div>
</div>

<div id="connect-page">
	<form id="connectButton" name="connectButton">
	    <button type="submit" id="start-chatting-button" class="accent username-submit">Start Chatting</button>
	</form>
</div>

<div id="chat-page" class="hidden">
    
    <div class="chat-container">
        <div id="chat-header" class="chat-header">
            <h3>Spring WebSocket Chat</h3>
        </div>
        
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>